

.blog-header{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    margin: 0;
    text-transform: capitalize;
}

.author-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.author-info p{
    font-size: 1.1rem;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 0 auto;

}

.author img{
    text-align: center;
    width: 60px;
    height: 80px;
    border-radius: 50%;
}


.author p{
    text-align: center;
    font-weight: bold;
}

.author .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icons i{
    color: #4682B4;
    text-shadow: 1px 1px 1px #ccc;
}

.icons i:hover{
    color: #000080;
}

.bio{
    text-align: justify;
    margin: 0 auto;
}

.blog-content{
    padding: 1%;
    margin: 0 1% 1% 1%;
    border-radius: 10px;
    background-color: #bab2b5;
    color: #000;
    line-height: 1.5rem;
    text-align: justify;
}

article p a{
    text-decoration: none;
    color: #123c69;
}

article p a:hover{
    text-decoration: underline;
}


.paragraph-image img{
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.paragraph-image figcaption{
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
}

.social-share{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article h3{
    display: inline-block;
    margin-right: 1%;
}


div[class="social-share-icon"]{
    display: inline-flex;
    width: 10%;
    min-width: 200px;
    justify-content: space-between;
    align-items: center;
}

div[class="social-share-icon"] a{
    color: #4682B4;
}

div[class="social-share-icon"] a:hover{
    color: #000080;
}

@media only screen and (min-width: 992px) {
    .author-info{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    .author .icons{
        width: 50%;
    }

    .author{
        width: 50%;
    }

    .bio{
        width: 40%;
    }

    .paragraph-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 30px;
    }

    .social-share{
        flex-direction: row;
        justify-content: flex-start;
    }
}

