@import url("normalize.css");
@import url("blog.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* main page's styles */
.header {
  background-color: #edc7b7;
  color: #123c69;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav i{
  font-size: 48px; 
  margin: 1% 0 1% 2%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-left: -45px;
  margin-right: 2%;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.6rem;
  color: #ac3b61;
}

nav ul li a:hover{
  color: #FF1493;
  text-decoration: underline;
}

main{
  background-color: #f5f7f8;
}

main img{
  display: block;
  width: 100%;
  height: 15vh;
}

main h1{
  text-align: center;
}

#blogs{
  margin: 0.67em 0;
}

.content {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  width: 96%;
  margin: 0 auto;
  padding-bottom: 2%;

}

.card {
  background: #fff;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  position: relative;
  top: 2%;
  transition: all .1s ease-in;
}

.card:last-child{
  margin-bottom: 2%;
}

.card img{
  height: 90%;
}

.card:hover{
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article{
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subscribe{
  background-color: #edc7b7;
  padding: 2% 1% 2% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe span{
  color: #ac3b61;
}

.subscribe form{
  display: block;
  text-align: center;
}

.subscribe form input{
  margin: 0 auto;
  padding: 2%; 
}

.subscribe form input[type="email"]{
  width: 95%;
  margin-bottom: 2%;
  border: 2px solid #123c69;
  border-radius: 5px;
}

.subscribe form input[type="submit"]{
  width: 50%;
  background-color: #123c69;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.subscribe form input[type="submit"]:hover,
.subscribe form input[type="submit"]:focus{
  border: 2px solid #123c69;
  background-color: #fff;
  color: #123c69;
  cursor: pointer;
}

.footer {
  text-align: center;
  background-color: #BAB2B5;
  padding: 1%;
}

.footer p{
  margin: 0;
  font-weight: bold;
}


/* responsive design */
@media only screen and (min-width: 540px) {
  
  .content{
    grid-template-columns: repeat(2, 1fr);
  }
  
  main img{
    height: 20vh;
  }

  .subscribe form{
    display: grid;
    grid-template-columns: 400px 100px;
    justify-items: center;
  }

  .subscribe form input[type="email"]{
    margin-bottom: 0;
    width: 80%;
  }

  .subscribe form input[type="submit"]{
    width: 80%;
  }
  
}

@media only screen and (min-width: 768px) {
  .content{
    grid-template-columns: repeat(3, 1fr);
  }
  
  main img{
    height: 25vh;
  }

}

@media only screen and (min-width: 992px) {
  .content{
    grid-template-columns: repeat(4, 1fr);
  }
  
  main img{
    height: 30vh;
  }

  
}

@media only screen and (min-width: 1200px) {
  .content{
    grid-template-columns: repeat(5, 1fr);
  }
  
  main img{
    height: 35vh;
  }

}
